/*universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fonts*/
@font-face {
    font-style: normal;
    font-weight: bold;
    font-family: "gotham-bold";
    src: url(./fonts/Gotham-Bold.otf);
}
@font-face {
    font-style: normal;
    font-weight: black;
    font-family: "gotham-black";
    src: url(./fonts/Gotham-Black.otf);
}
@font-face {
    font-style: normal;
    font-weight: bolder;
    font-family: "gotham-ultra";
    src: url(./fonts/Gotham-Ultra.otf);
}
@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "gotham-book";
    src: url(./fonts/Gotham-Book.otf);
}
@font-face {
    font-style: normal;
    font-weight: normal;
    font-family: "gotham-light";
    src: url(./fonts/Gotham-Light.otf);
}
/*Variables*/
$black-xpro: #232323;
$red-xpro: #e50914;

/*Mobile*/
header{
    width: 100%;
        .navbar{
            background-color: $black-xpro !important;
        }
        nav{
            div{
                .navbar-toggler{
                    color: #fff;
                }
                img{
                    width: 70px;
                    padding: 10px;
                    }
                button{
                    color: #fff;
                        span{
                            color: #fff;
                                i{
                                    font-size: 28px;
                                }
                        }
                }
                div{
                    .nav__item--who{
                        color: #fff;
                    }
                    .li__container{
                        display: flex;
                        align-items: center;
                    }
                    .nav-item span{
                        font-family: "gotham-light";
                        text-transform: none;
                        font-size: 14px;
                        padding-left: 10px;
                    }
                    .nav-link{
                        color: #fff !important;
                        font-family: "gotham-bold";
                        font-size: 12px;
                        padding: 10px;
                        text-transform: uppercase;
                    }
                    .nav__item--ic{
                        font-size: 20px;
                    }
                    .usaflag{
                        width: 35px;
                        padding-left: 0;
                        padding-top: 5px;
                    }
                    .txt__ev{
                        font-family: "gotham-light";
                    }
                }
            }
        }
}
.section__video{
    padding: 0 !important;
    .video__container{
        position: relative;
        z-index: -100;
        width: 100%;
        height: auto;
        overflow: hidden;
            video{
                position: relative;
                width: 100vw;
                height: auto;
            }
    }
}
.title__container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
        .title{
            font-family: "gotham-Bold";
            text-transform: uppercase;
            text-align: center;
            font-size: 30px;
            line-height: 32px;
            width: 90%;
            padding: 10px;
        }
    }
.family__container{
    display: flex;
    flex-direction: column;
    align-items: center;
        .family__item{
            padding: 10px;
            width: 90%;
                .family__logo__container{
                    display: flex;
                    justify-content: center;
                        img{
                            height: 120px;
                            padding: 20px;
                        }
                        
                }
                h2{
                    font-family: "gotham-bold";
                    font-size: 18px;
                }
                p{
                    font-family: "gotham-book";
                    font-size: 14px;
                }
        }
}
.qs__container{
    margin: 0 !important;
    padding: 0 !important;
        .qs{
            background-image: url(./media/globe_xpro.jpg);
            background-position: center;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            height: 550px;
            margin: 0 !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
                h2{
                    font-family: "gotham-bold";
                    font-size: 30px;
                    line-height: 32px;
                    text-transform: uppercase;
                    color: #e50914;
                    text-align: center;
                    width: 80%;
                }
                p{
                    font-family: "gotham-book";
                    font-size: 14px;
                    color: #fff;
                    text-align: justify;
                    width: 80%;
                }
        }
}
.mision__container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
        .mision__left{
            display: flex;
            flex-direction: column;
            align-items: center;
                h2{
                    font-family: "gotham-bold";
                    text-transform: uppercase;
                    font-size: 30px;
                    line-height: 32px;
                    width: 90%;
                    color: $red-xpro;
                }
                p{
                    font-family: "gotham-book";
                    font-size: 14px;
                    width: 90%;
                }
                ul{
                    width: 90%;
                    padding-left: 0;
                        li{
                            list-style-type: none;
                            font-family: "gotham-bold";
                            font-size: 16px;
                        }
                }
        }
        .mision__right{
            margin-top: 30px;
            .branchs__container{
                margin: auto;
                .mision__item{
                    h3{
                        font-family: "gotham-bold";
                        text-transform: uppercase;
                        font-size: 16px;
                        width: 90%;
                        line-height: 22px;
                        margin: auto;
                    }
                    p{
                        font-family: "gotham-book";
                        font-size: 14px;
                        width: 90%;
                        text-align: justify;
                        line-height: 22px;
                        margin: auto;
                    }
                }
                .mision__item--2{
                    margin-top: 20px;
                }
                .mision__item--3{
                    margin-top: 20px;
                }
            }
        }
}
.staff{
    padding: 0 !important;
        .staff__container{
            background-color: #e5e5e5;
            width: 100%;
            height: 1000px;
            margin-top: 40px;
            display: flex;
            flex-direction: column;
                div{
                    background-image: url(./media/gridok.jpg);
                    background-position: center;
                    background-size: cover;
                    width: 100%;
                    height: 600px;
                }
                .staff__img--grid{
                    display: none;
                }
                p{
                    font-family: "gotham-book";
                    font-size: 14px;
                    width: 90%;
                    text-align: justify;
                    line-height: 22px;
                    margin: auto;
                    padding: 10px;
                    padding-bottom: 30px;
                        strong{
                            font-family: "gotham-bold";
                            color: $red-xpro;
                        }
                }
                .staff__p--1{
                    margin-top: 30px;
                }
            }
}
.staff2{
    padding: 0 !important;
        .staff__container2{
            background-color: $black-xpro;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
                h4{
                    font-family: "gotham-bold";
                    font-size: 23px;
                    color: #fff;
                    text-transform: uppercase;
                    width: 90%;
                    padding: 10px;
                    text-align: center;
                    margin: auto;
                    
                        span{
                            color: $red-xpro;
                        }
                }
        }
}
.online{
    padding: 0 !important;
    .online__container{
        background-color: #e5e5e5;
        width: 100%;
        height: 1000px;
        display: flex;
        flex-direction: column;
            div{
                background-image: url(./media/online_selling.jpg);
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 600px;
            }
            p{
                font-family: "gotham-book";
                font-size: 14px;
                width: 90%;
                text-align: justify;
                line-height: 22px;
                margin: auto;
                padding: 10px;
                padding-top: 30px;
                padding-bottom: 30px;
            }
    }
}
.stores{
    margin-top: 30px;
        .stores1__container{
            display: flex;
            flex-direction: column;
            align-items: center;
                h2{
                    font-family: "gotham-bold";
                    color: $red-xpro;
                    text-transform: uppercase;
                    width: 90%;
                    padding: 10px;
                    text-align: center;
                }
                p{
                    font-family: "gotham-book";
                    font-size: 14px;
                    width: 90%;
                    text-align: justify;
                    line-height: 22px;
                    margin: auto;
                    padding: 10px;
                }
        }
        .stores2__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
                .stores2__item{
                    width: 90%;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-right: 0;
                    padding-left: 0;
                    i{
                        font-size: 40px;
                        color: $black-xpro;
                        text-align: center;
                        padding: 10px;
                    }
                    h3{
                        font-family: "gotham-bold";
                        font-size: 23px;
                        color: $red-xpro;
                        text-align: center;
                    }
                    h4{
                        font-family: "gotham-book";
                        font-size: 16px;
                        color: $black-xpro;
                        text-align: center;
                    }
                }
        }
}
.map{
    img{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.brands{
    .brands__title{
        h2{
            font-family: "gotham-bold";
            color: $black-xpro;
            text-transform: uppercase;
            text-align: center;
        }
        h4{
            font-family: "gotham-book";
            font-size: 16px;
            color: $black-xpro;
            text-align: center;
            width: 90%;
            margin: auto;
        }
    }
    .brands__container{
        margin-top: 30px;
        .brands__item{
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
                img{
                    height: 120px;
                    margin: auto;
                }
                p{
                    font-family: "gotham-book";
                    font-size: 14px;
                    width: 90%;
                    text-align: justify;
                    line-height: 22px;
                    margin: auto;
                    padding: 10px;
                }
        }
    }
}
.form{
    background-image: url(./media/background_form_mobile.jpg);
    background-position: center;
    height: 1230px;
    margin-top: 30px;
        .contact__container{
            .contact__item--1{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 30px;
                h2{
                    font-family: "gotham-bold";
                    font-size: 30px;
                    color: $red-xpro;
                    text-transform: uppercase;
                    text-align: center;
                }
                p{
                    font-family: "gotham-book";
                    font-size: 14px;
                    color: #fff;
                    width: 90%;
                    padding: 10px;
                    text-align: justify;
                    
                }
            }
        }

        .form__container{
            .form__item--1{
                margin-bottom: 20px;
                    .item__datos{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                            i{
                                font-size: 35px;
                                color: #fff;
                                padding-bottom: 10px;
                                padding-top: 20px;
                            }
                            h5{
                                font-family: "gotham-bold";
                                font-size: 16px;
                                color: #fff;
                                text-transform: uppercase;
                                width: 90%;
                                text-align: center;
                                
                            }
                            p{
                                font-family: "gotham-book";
                                font-size: 14px;
                                color: #fff;
                                width: 90%;
                                text-align: center;
                            }
                            h6{
                                font-family: "gotham-bold";
                                font-size: 16px;
                                color: #fff;
                                text-transform: uppercase;
                                width: 90%;
                                text-align: center;
                                margin: 0;
                            }
                    }
            }
        }
        .form__item--2{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
                input{
                    color: #fff;
                    width: 90%;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding: 5px;
                    background-color: #171717a2;
                    border: 1px solid #fff
                }
                input:focus{
                    outline-color: #e50914;
                }
                input::placeholder{
                    color: #fff;
                }
                textarea{
                    color: #fff;
                    width: 90%;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    padding: 5px;
                    background-color: #171717a2;
                    outline: none;
                    border: 1px solid #fff;
                    
                }
                textarea:focus{
                    outline-color: #e50914;
                }
                textarea::placeholder{
                    color: #fff;
                }
                .button{
                    background-color: rgb(239, 239, 239);
                    width: 90%;
                    height: 40px;
                    border-radius: 5px;
                    margin-top: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                        p{
                            text-align: center;
                            font-family: "gotham-bold";
                            color: $black-xpro;
                            text-transform: uppercase;
                            font-size: 16px;
                            margin-bottom: 0;
                        }
                }
            }
        
}
.footer{
    height: 570px;
    background-color: $black-xpro;
    color: #fff;
    .footer__container{
        .footer__left{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            img{
                width: 100px;
                padding: 15px;
            }
            p{
                font-family: "gotham-book";
                font-size: 14px;
                color: #fff;
                text-align: justify;
                padding: 15px;
            }
        }
        .footer__right{
            padding-top: 20px;
                .socialmedia{
                    list-style-type: none;
                    display: flex;
                    padding-left: 15px;
                        li{
                            padding-right: 10px;
                                i{
                                    font-size: 25px;
                                }
                        }
                }
                .nav__footer{
                    list-style: none;
                    padding-left: 15px;
                    margin-top: 10px;
                        li{
                            a{
                                text-decoration: none;
                                font-family: "gotham-book";
                                color: #e5e5e5;
                            }
                            .mail{
                                font-size: 25px;
                            }
                        }
                        .li__mail{
                            margin-top: 20px;
                            
                        }

                }
        }
    }
}
.copy{
    font-family: "gotham-book";
    text-align: center;
    font-size: 11px;
    color: #fff;
    margin: 0 auto;
    padding: 10px;
    background-color: $black-xpro;
}
@media only screen and (min-width: 400px){
    .form{
        background-image: url(./media/background_form_mobile_2.jpg);
    .footer{
        height: 500px;
        }
    }   
}
/*Tablet*/
@media only screen and (min-width: 700px){
.family__container{
    flex-direction: row;
    justify-content: center;
    }
.qs__container{
        .qs{
                h2{
                    width: 70%;
                }
                p{
                    font-family: "gotham-book";
                    font-size: 14px;
                }
        }
}
.mision__container{
    flex-direction: row;
    justify-content: center;
        .mision__left{
            width: 40%;
            padding-right: 30px;
        }
        .mision__right{
            width: 40%;
            padding-left: 30px;
            margin-top: 0;
        }
}
.staff2{
    .staff__container2{
        .title__tablet{
            font-size: 35px;
        }
    }
}
.brands__title{
    h2{
        font-size: 45px;
    }
}
.brands__container{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto;
        .brands__item--1{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .brands__item--2{
            grid-column: 2/3;
            grid-row: 1/2;
        }
        .brands__item--3{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .brands__item--4{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .brands__item--5{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .brands__item--6{
            grid-column: 2/3;
            grid-row: 3/4;
        }
}
.form{
    height: 880px;
    background-image: url(./media/background_form_tablet.jpg);
        .contact__container{
            margin-bottom: 50px;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            text-align: left;
                .contact__item--1{
                    width: 75%;
                    margin-bottom: 20px;
                    h2{
                        font-size: 40px;
                        text-align: left;
                        margin-right: 0;
                        padding-left: 0;
                    }
                    p{
                        text-align: left;
                        font-size: 18px;
                    }
                }
        }
        .form__container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 700px;
                .form__item--1{
                    width: 45%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                        .casamatriz{
                            i{
                                padding-top: 0;
                                text-align: left;
                                display: inline-block;
                            }
                            h5{
                                text-align: left;
                            }
                            p{
                                text-align: left;
                            }
                        }
                        .item__datos{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            i{
                                text-align: left;
                            }
                            h6{
                                text-align: left;
                            }
                            p{
                                text-align: left;
                            }
                            .mail{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                i{
                                    text-align: left;
                                }
                                h5{
                                    text-align: left;
                                }
                                p{
                                    text-align: left;
                                }
                            }
                        }
                }
                .form__item--2{
                    width: 50%;
                    
                        input{
                            padding: 10px;
                        }
                        textarea{
                            height: 400px;
                            padding: 10px;
                        }
                        .button{
                            height: 50px;
                        }
                }
        }
}
.footer{
    height: 400px;
        .footer__container{
            display: flex;
            justify-content: center;
            align-items: center;
                .footer__left{
                    width: 50%;
                    padding: 40px;
                }
                .footer__right{
                    width: 50%;
                    padding: 40px;
                    margin-top: 20px;
                }
        }
}
}

/*Desktop*/
@media only screen and (min-width: 992px) {
    header{
        nav{
            div{
                img{
                    width: 90px;
                    padding: 15px;
                    margin-left: 60px;
                    }
                }
                div{
                    display: flex;
                    justify-content: flex-end;
                    margin-right: 60px;
                    ul{
                        display: flex;
                        align-items: center;
                            .usaflag{
                                margin: 0 auto;
                                padding: 5px;
                            }
                            .nav-item--usa{
                                a{
                                    font-family: "gotham-light";
                                    
                                }
                                
                            }
                            .nav-item span{
                                display: none;
                            }
                            li{
                                .nav-link:hover{
                                    color: #a1a1a1!important;
                                    font-family: "gotham-bold";
                                    font-size: 12px;
                                    padding: 10px;
                                    text-transform: uppercase;
                                    scale: 110%;
                                }
                            }
                    }
                }
            }
    }
.title__container{
    margin-top: 50px;
        .title{
            font-size: 35px;
        }
}
.family__container{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
        .family__item{
            margin: 20px;
        }
}
.qs__container{
    .qs{
            h2{
                width: 50%;
                font-size: 38px;
            }
            p{
                width: 50%;
            }
    }
}
.mision__container{
    margin-top: 70px;
    margin-bottom: 30px;
        .mision__left{
            h2{
                font-size: 40px;
            }
        }
}
.online__container{
    p{
        font-size: 16px;
        width: 70%;
    }
}
.staff{
        .staff__container{
            background-color: #e5e5e5;
            width: 100%;
            height: 600px;
            margin-top: 40px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
                .staff__p--1{
                    grid-column: 2/3;
                    grid-row: 1/2;
                    margin: 0 auto;
                    font-size: 15px;
                    padding-top: 40px;
                    width: 80%;
                }
                .staff__p--2{
                    grid-column: 2/3;
                    grid-row: 2/3;
                    margin: 0 auto;
                    font-size: 15px;
                    padding-top: 20px;
                    margin-top: 20px;
                    width: 80%;
                }
                
            }
} 
.staff2{
    .staff__container2{
        .title__tablet{
            font-size: 42px;
            line-height: 38px;
        }
    }
}

.online{
    .online__container{
        display: flex;
        flex-direction: row-reverse;
        height: 500px;
            div{
                height: 500px;
            }
            p{  
                width: 80%;
                padding: 80px;
                width: 80%;
            }
        }
}

.map{
    display: flex;
    justify-content: center;
        img{
            width: 700px;
        }
}
.stores{
    .stores1__container{
        width: 90%;
        margin: auto;
    }
    .stores2__container{
        flex-direction: row;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
            .stores2__item{
                h3{
                    font-size: 18px;
                }
            }
    }
}
.brands{
    .brands__container{
        width: 75%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: auto;
            .brands__item--1{
                grid-column: 1/2;
                grid-row: 1/2;
            }
            .brands__item--2{
                grid-column: 2/3;
                grid-row: 1/2;
            }
            .brands__item--3{
                grid-column: 3/4;
                grid-row: 1/2;
            }
            .brands__item--4{
                grid-column: 1/2;
                grid-row: 2/3;
            }
            .brands__item--5{
                grid-column: 2/3;
                grid-row: 2/3;
            }
            .brands__item--6{
                grid-column: 3/4;
                grid-row: 2/3;
            }
    }
    
}
.form{
    background-image: url(./media/background_form_desktop.jpg);
}
.footer{
    height: 350px;
        .footer__container{
            display: flex;
            justify-content: center;
            align-items: normal;
                .footer__left{
                    width: 60%;
                    padding: 40px;
                }
                .footer__right{
                    width: 30%;
                    padding: 40px;
                    margin-top: 20px;
                }
        }
}
}
/*Desktop xxl*/

@media only screen and (min-width: 1500px) {
.logo__nav{
    margin-left: 200px;
}
.txt__nav{
    margin-right: 200px;
}
.title__container{
    margin-top: 80px;
        h1{
            font-size: 45px;
        }
}
.qs__container{
    .qs{
            h2{
                width: 40%;
                font-size: 45px;
                line-height: 45px;
            }
            p{
                width: 37%;
            }
    }
}
.staff{
    .staff__container{
            .staff__p--1{
                grid-column: 2/3;
                grid-row: 1/2;
                margin: 0;
                font-size: 15px;
                padding-top: 60px;
                margin-top: 40px;
                width: 70%;
                margin-left: 53px;
            }
            .staff__p--2{
                grid-column: 2/3;
                grid-row: 2/3;
                margin: 0;
                font-size: 15px;
                padding-top: 20px;
                margin-top: 50px;
                width: 70%;
                margin-left: 53px;
            }
            
        }
} 
.staff2{
    .staff__container2{
        .title__tablet{
            font-size: 52px;
            line-height: 48px;
        }
    }
}
.stores{
    margin-top: 100px;
    .stores1__container{
        width: 80%;
        margin: auto;
            h2{
                font-size: 40px;
            }
            p{
                font-size: 18px;
            }
    }
    .stores2__container{
        flex-direction: row;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
            .stores2__item{
                h3{
                    font-size: 30px;
                }
            }
    }
}
.form{
    height: 900px;
    background-image: url(./media/background_form_desktop_xxl.jpg);
        .contact__container{
            margin-top: 30px;
            display: flex;
            justify-content: center;
                .contact__item--1{
                    display: flex;
                    justify-content: center;
                    
                        h2{
                            font-size: 50px;
                            text-align: center;
                        }
                        p{
                            font-size: 18px;
                            text-align: center;
                        }
                }
        }
        .form__container{
            display: flex;
            justify-content: flex-end;
            margin-right: 455px;
                .form__item--1{
                    width: 400px;
                }
                .form__item--2{
                    width: 700px;
                }
        }
}
}

